@media(max-width: 1600px){
    .search-field-block{
        top: 50px;
        right: 10vw;
    }
}

@media (max-width: 991px) {
    .trash{
        padding-right: 10px;
    }
    .call-back-content {
        padding: 50px 30px 73px 30px;
    }
    .activity-section-banner-text {
        padding: 5vw 0;
        text-align: center;
    }
    .bg{
        width: 100%;
    }
    #call-back-pop-up .default-button {
        width: 90%;
    }
    .cart-section-block{
        .album-icon{
            margin-right: 10px;
        }
    }
    .cart-section-blocks .cart-section-block:last-child .default-button {
        padding: 18px 50px;
    }
    .cart-section-text{
        width: 60%;
        padding-right: 10px;
    }
    #feedback-pop-up{
        .call-back-content{
            background:url('../img/feedback-bg-mob.png') center center no-repeat;
            width: 345px;
            height: 749px;
            padding-top: 60px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .call-back-content-title{
            line-height: 140% !important;
        }
        .rating-block:first-child label {
            width: 100%;
        }
        .rating-block{
            display: flex;
            flex-direction: column;
            .checkbox-field{
                order: 2;
            }
        }
        textarea{
            height: 164px !important;
        }
        .default-button{
            width: 99%;
        }
    }
    .stars-field{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin-top: 15px;
        }
    }
}

@media (max-width: 768px) {
    .call-back-content{
        background: url('../img/call-back-bg-mob.png') center center no-repeat;
        background-size: contain;
        height: 844px;
        width: 345px;

    }
    #call-back-pop-up form > label {
        flex-direction: column;
        align-items: end;
        &>span {
            width: unset;
            padding-left: 10px;
            padding-bottom: 5px;
        }
        input, textarea{
            margin: 0;
        }
        textarea{
            height: 138px !important;
        }
        .custom-select-wrapper {
            padding: 0;
        }
        .custom-select__trigger {
            font-size: 14px;
        }
        .file-box{
            text-align: left;
            width: 230px;
        }
        .input-file-label{
            margin: 0 !important;
        }
        &:nth-of-type(3){
            display: block;
            &>span:first-child {
                display: block;
                text-align: left;
            }
        }
    }
    #call-back-pop-up{
        .default-button{
            margin-left: 0;
            width: 99%;
        }
    }
    #autorization-pop-up{
        display: none;
        padding: 35px 0;
        .call-back-content{
            background:url('../img/autorization-bg-mob.png') center center no-repeat;
            width: 345px;
            height: 634px;
        }
    }
    #registration-pop-up{
        .call-back-content{
            background:url('../img/registration-bg-mob.png') center center no-repeat;
            width: 345px;
            height: 844px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .checkbox-field{
            display: flex;
            align-items: end;
            span {
                font-size: 11px;
            }
        }
    }
    .separator{
        svg{
            width: 113px;
        }
        span:nth-of-type(2) {
            padding: 0 12px;
        }
    }
    .fancybox-close-small {
        right: 50% !important;
        transform: translate(50%, 0);
    }
    .cart-section-block{
        &>div:last-child{
            display: none;
        }
        .trash{
            padding-right: 15px;
        }
        .album-icon{
            margin-right: 12px;
        }
        .activity-block-text{
            margin: 0;
        }
        .activity-block-title{
            margin: 0;
        }
    }
    .desktop-seen{
        display: none;
    }
    .tablet-seen{
        display: block;
        text-align: center;
        .default-button{
            margin: 25px 0 !important;
        }
    }
    .cart-item-price.tablet-seen{
        text-align: left;
    }
}

@media (max-width: 576px) {

    .activity-section-banner{
        display: none;
    }
    .activity-blocks {
        margin-top: 20px;
    }
    .tablet-seen{
        .default-button{
            width: 100%;
        }
    }
    .cart-section-block{
        .activity-block-title {
            font-size: 14px;
            margin: 0;
        }
        .album-icon{
            margin-right: 0;
            img{
                width: 90%;
            }
        }
        .cart-section-text{
            align-self: flex-start;
        }
    }
    .cart-item-price.tablet-seen{
        text-align: left;
    }

}
