a:focus{
    outline: none;
}
.activity-inner-date{
    font-size: 16px;
    line-height: 160%;
    color: #C72849;
}
.activity-inner-title{
    font-family: Trajan, sans-serif;
    font-size: 30px;
    color: #222222;
    line-height: 160%;
    margin-bottom: 20px;
}
.activity-inner-banner-text{
    font-size: 16px;
    margin: 10px 0;
}
.activity-section-banner-text{
    padding: 8vw 1vw 8vw 0;
    .default-button{
        padding: 18px 80px;
    }
}
.activity-section-banner{
    position: relative;
    .col-lg-8{
        display: grid;
        align-items: center;
    }
}
.activity-section{
    .meeting-slide-card{
        height: 420px;
        vertical-align: center;
    }
}
.bg{
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(100.59deg, #F7EEF7 0%, #F4E9F4 100%);
    width: 75%;
    height: 100%;
    z-index: -1;
}
.activity-blocks{
    margin-top: 50px;
}
.activity-block{
    text-align: center;
    margin-bottom: 50px;
    .meeting-slide-date{
        transform: none;
        padding: 7px 20px 7px 20px;
        font-size: 12px;
    }
    svg {
        width: 100px;
    }
    .meeting-slide-card{
        height: 212px !important;
        padding-top: 160px;
        position: relative;
    }
    .default-button{
        font-size: 15px;
        padding: 13px 34px;
        margin: 0 auto;
    }
}
.activity-block-text{
    font-size: 14px;
    line-height: 21px;
    text-align: center; 
    color: #555555;
    margin-top: 15px;
    margin-bottom: 10px;
}
.activity-block-title{
    font-family: Trajan, sans-serif;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #222222;
    margin-bottom: 20px;
}



.cart-item-price{
    font-family: Trajan, sans-serif;
    font-size: 22px;
    line-height: 160%;
    color: #222222;
    text-align: center;
}
.cart-item-total{
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #AEAEAE;
}
.cart-section-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #DFDFDF;
    padding: 20px 0 15px 0;
    .activity-block-title, .activity-block-text{
        text-align: left;
    }
    .trash{
        flex-grow: 1;
        max-width: 37px;
        svg path{
            transition: 0.3s linear all;
        }
        &:hover svg path{
            fill: #C72849;
        }
    }
    .album-icon{
        flex-grow: 2;
        max-width: 147px;
    }
    .cart-section-text{
        flex-grow: 7;
    }
    .cart-section-price{
        flex-grow: 2;
        max-width: 147px;
    }
}
.cart-section-blocks-total{
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 35px;
    .default-button{
        margin-top: 40px;
        padding: 18px 80px;
    }
    div div{
        text-align: right;
    }
}
.continue-shopping{
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    align-items: center;
    span{
        transition: 0.3s linear all;
    }
    svg{
        margin: 0px 20px 2px 2px;
        path{
            transition: 0.3s linear all;
        }
    }
    &:hover{
        color:#E094A5;
        svg path{
            fill: #E094A5;
        }
    }
}
span.cart-item-price{
    display: inline-block;
    margin-left: 5px;
}
.tablet-seen{
    display: none;
    div{
        text-align: center !important;
    }
}
.meeting-slide-card{
    cursor: pointer;
    position: relative;
}
.search-field-block{
    opacity: 0;
    height: 0;
    min-width: 492px;
    transition: all .3s ease-in;
    position: absolute;
    top: 50px;
    right: 273px;
    background-color: #fff;
    border-radius: 22px;
    padding: 25px;
    &.active{
        opacity: 1;
        height: fit-content;
        z-index: 2;
    }
    .show-all-results{
        display: none;
        background-color: #E094A5;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        border-radius: 0 0 22px 22px;
        color: white;
        padding: 12px 0;
        text-align: center;
        transition: 0.2s linear background;
        &:hover{
            background-color: #E8AEBC;
        }
    }
    .input-field{
        display: flex;
    }
    .input-field-search-block{
        width: 100%;
        display: flex;
        align-items: center;
    }
    input{
        font-family: Circle, sans-serif;
        width: 90%;
        margin-left: 13px;
        border: none;
        font-size: 14px;
        line-height: 21px;
        color: #222222;
        &:focus{
            outline: none;
        }
    }
    .close-btn{
        cursor: pointer;
        &:hover{
            svg>path{
                fill: #E8AEBC;
            }
        }
    }
}
.search-field-block-result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Trajan, sans-serif;
    font-size: 14px;
    margin: 10px 0;
    img{
        max-width: 50px;
    }
    &:hover{
        color: #E8AEBC;
    }
}
.search-field-block-content{
    opacity: 0;
    height: 0;
    transition: all .2s ease-in;
    &.active{
        opacity: 1;
        height: auto;
        padding-bottom: 28px;
        .show-all-results{
            display: block;
        }
    }
}
