$main-color: #E094A5;
$main-hover-color: #E8AEBC;
$default-color: #555555;

@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
  .small-container {
    max-width: 1280px;
  }

}

body {
  background: linear-gradient(205.38deg, #F7EEF7 0%, #F3F7FA 18.75%, #F7EEF7 38.54%, #F3F7FA 61.46%, #F7EEF7 80.73%, #F3F7FA 100%);
  font-family: Circle, sans-serif;
  font-size: 18px;
  color: #555555;
  line-height: 1.6;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: #555555;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.header-navigation li {
  margin-right: 50px;
  padding: 44px 0;

  &:last-child {
    margin-right: 0;
  }

  a {
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s linear all;

    &:hover {
      color: $main-color;
    }
  }
}

.language-select-wrapper {
  margin-right: 27px;
}

.language-select-wrapper .selectric {
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;

  .button {
    width: 10px;
    height: 10px;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
  }

  .label {
    margin: 0 15px 0 10px;
  }
}

.header-right-sided-block .header-navigation {
  margin-right: 50px;
}

.header-search-icon {
  display: flex;

  & > * {
    margin-right: 15px;

    svg {
      fill: #555555;
      transition: 0.3s linear all;
    }

    &:hover {
      svg {
        fill: $main-color;
      }
    }
  }

}

.selectric-items li {
  padding: 3px 5px;
  background-color: #fff;
  transition: .3s linear all;

  &:hover {
    background-color: #D0D0D0;
  }
}

.selectric-items li.highlighted {
  background-color: #D0D0D0;
}

.header-inst-wrap {
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 0px 0px 50px 50px;
  position: absolute;
  left: 0;
  top: 0;
  background: #F5F1F8;
}

.header-inst {
  width: 206px;
  height: 117px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  background: #F5F1F8;
  position: relative;
  z-index: 2;
}

.main-banner {
  min-height: 600px;
  max-width: 1730px;
  width: 100%;
  padding-left: 180px;
  padding-right: 160px;
  padding-top: 40px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.main-banner .main-banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-banner-tracery {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  max-width: 100%;
}

.main-banner-cloud {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
}

.title {
  font-family: Trajan, sans-serif;
  color: #222222;
  font-weight: 400;
}

.main-banner-title {
  font-size: 50px;
}

.main-banner-text-box {
  max-width: 600px;
}

.default-button {
  background-color: $main-color;
  border-radius: 35px;
  transition: 0.2s linear all;
  padding: 18px 50px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 15px;

  &:hover {
    background-color: $main-hover-color;
  }
}

.main-banner-text {
  margin-bottom: 30px;
}

.grid-advantages-wrapper {
  text-align: center;
}

.grid-text-wrapper {
  text-align: left;
}

.grid-text-wrapper {
  p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #222;
    font-family: Trajan, sans-serif;
  }

  .titles-paragraph {
    margin-bottom: 35px;
  }
}

.title-quote {
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;

  span {
    color: $main-color;
    font-family: Trajan, sans-serif;
    text-align: center;
    text-transform: uppercase;
    max-width: 540px;
    font-size: 26px;
    line-height: 1.8;
  }

  .quote-icon-start {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .quote-icon-end {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }
}

.quote-sign {
  position: absolute;
  right: 40px;
  top: 85%;
}

.section {
  padding-top: 164px;
  position: relative;
}

.section:before {
  content: '';
  position: absolute;
  background-image: url('../img/topvector.svg');
  width: 19px;
  height: 84px;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

h2.inner-title {
  text-align: center;
  color: #222222;
  font-family: Trajan, sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 6px;
}

.sub-title {
  margin-bottom: 40px;
  text-align: center;
}

.video-courses-card {
  position: relative;
}

.card-features {
  position: absolute;
  left: 15px;
  top: 15px;

}

.cart-feature {
  padding: 5px 12px;
  border-radius: 15px 15px 15px 0px;
  background-color: $main-color;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.cart-title {
  margin-bottom: 5px;
  font-size: 18px;
  margin-top: 0;
}

.video-courses-card-img-wrap {
  margin-bottom: 20px;
}

.cart-text-wrapper {
  margin-bottom: 20px;
}

.video-courses-link {
  transition: 0.3s linear all;
  display: flex;
  align-items: center;

  span {
    transition: 0.3s linear all;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-right: 25px;
    text-transform: uppercase;
  }
}

.video-courses-card:hover .video-courses-link span {
  color: #C72849;
  margin-right: 35px;
}

.video-courses-row .col-lg-3:nth-child(even) .video-courses-card {
  margin-top: 120px;
}

.white-button {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px #D6C0D9;
  color: $main-color;

  &:hover {
    box-shadow: none;
    background-color: #ffffff;
  }
}

.video-courses .default-button {
  margin: 0 auto;
}

.video-courses-btn-wrap {
  text-align: center;
}

.video-courses-row {
  margin-bottom: 50px;
}

.swiper-pagination {
  position: relative;
  margin-top: 45px;
}

.meeting-swiper .swiper-slide {
  width: 100%;
  max-width: 990px;
}

.meeting-slide-card {
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
}

.meeting-slide-card svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.meeting-slide-card {
  height: 450px;
  padding-top: 289px;
}

.meeting-slide-date {
  padding: 7px 25px 7px 35px;
  background: #C72849;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  max-width: max-content;
  margin-bottom: 13px;
  transition: 0.6s linear all;
  transform: translateX(-100%);
}

.meeting-slide-title {
  padding: 0 35px;
  color: #FFFFFF;
  font-size: 26px;
  opacity: 0;
  transition: 0.6s linear all;
}

.meeting-swiper .swiper-slide svg {
  opacity: 0;
  transition: 0.8s linear all;
}

.meeting-swiper .swiper-slide-active {
  .meeting-slide-date {
    transform: translateX(0);
  }

  .meeting-slide-title {
    opacity: 1;
  }

  svg {
    opacity: 1;
  }

}

.swiper-pagination-bullet {
  background: #222222;
  width: 10px;
  height: 10px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 11px;
}

.swiper-pagination-bullet-active {
  background-color: $main-color;
  position: relative;
}

.swiper-pagination-bullet-active:after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #E094A5;
  border-radius: 50%;
}

.meeting-swiper .center-button {
  width: 100%;
  max-width: 990px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 0;
  z-index: 2;
}

.meeting-swiper .swiper-slide {
  visibility: hidden;
  opacity: 0.4;
}

.meeting-swiper .swiper-slide-next, .meeting-swiper .swiper-slide-prev {
  opacity: 0.4;
  transition: 0.3s linear all;
  visibility: visible;
}

.meeting-swiper .swiper-slide-active {
  opacity: 1;
  visibility: visible;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  right: auto;
  z-index: 222222;
  top: 220px;
  left: -35px;
  width: 70px;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  left: auto;
  right: -35px;
  top: 220px;
  z-index: 2222;
  width: 70px;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  display: none;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  display: none;
}

.meetings .video-courses-btn-wrap {
  margin-top: 50px;
}

.testimonials-swiper {
  max-width: 890px;
  margin: 0 auto;
}

.testimonials-card-img-wrap {
  text-align: center;
}

.testimonials-text {
  text-align: center;
}

.testimonials-card {
  h4 {
    font-size: 22px;
    margin: 0 auto 5px auto;
    text-align: center;
  }

  .rating-block {
    margin: 0 auto 15px;
  }
}

.testimonials {
  .container {
    position: relative;
  }

  .testimonials-prev, .testimonials-next {
    background-color: transparent;
    top: 73%;
    outline: none;
  }

  .testimonials-prev {
    left: 250px;
  }

  .testimonials-next {
    right: 250px;
  }

  .left-sided-girl, .right-sided-girl {
    position: absolute !important;
  }

  .left-sided-girl-1 {
    left: 15% !important;
    top: 45% !important;
  }

  .left-sided-girl-2 {
    top: 53% !important;
    left: 3% !important;
  }

  .left-sided-girl-3 {
    top: 66% !important;
    left: 18% !important;
  }

  .left-sided-girl-4 {
    top: 84% !important;
    left: 1% !important;
  }

  .right-sided-girl-1 {
    left: auto !important;
    right: 15% !important;
    top: 49% !important;
  }

  .right-sided-girl-2 {
    left: auto !important;
    right: 3% !important;
    top: 42% !important;
  }

  .right-sided-girl-3 {
    left: auto !important;
    right: 15% !important;
    top: 86% !important;
  }

  .right-sided-girl-4 {
    left: auto !important;
    right: 5% !important;
    top: 65% !important;
  }
}

.scene {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.blog-card-image-wrap {
  margin-bottom: 20px;
}

.blog-card-date {
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 10px;
}

.blog-cart-title {
  margin: 0 0 10px 0;
}

.blog-card-text {
  margin-bottom: 20px;
}

.blog-card:hover .video-courses-link span {
  color: #C72849;
  margin-right: 35px;
}

.blog-card-image-wrap img {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.blog-row {
  margin-bottom: 50px;
}

.footer {
  padding-top: 250px;
  margin-top: 325px;
}

.blog-card {
  position: relative;

  &:hover .project-thumbnail__border {
    background-color: rgba(0, 0, 0, .25);
    transform: translate(0);
  }
}

.blog-card-image-wrap {
  position: relative;
}

.project-thumbnail__border {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-15px, -15px);
  transform: translate(-15px, -15px);
  transition: background-color .6s cubic-bezier(.08, .03, .22, .87), -webkit-transform .6s;
  transition: transform .6s, background-color .6s cubic-bezier(.08, .03, .22, .87);
  transition: transform .6s, background-color .6s cubic-bezier(.08, .03, .22, .87), -webkit-transform .6s;
  z-index: 1;
}

.mail-sending-wrapper {
  background-image: url('../img/d-bg.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 370px;
}

.mail-left-img {
  margin-right: 65px;

  img {
    position: relative;
    bottom: 53px;
  }

}

.mailing-title {
  font-size: 36px;
}

.mailing-text-wrap {
  max-width: 580px;
}

.mail-form .default-button {
  -webkit-appearance: none;
  border: none;
  outline: none;
}

.mail-form .form-control {
  margin-right: 20px;
}

.form-control {
  width: 320px;
  height: 50px;
  background: #FFFFFF;
  opacity: 0.6;
  border: 1px solid #D8D9EA;
  box-sizing: border-box;
  box-shadow: inset -6px -3px 6px #FFFFFF, inset 4px 2px 6px rgba(72, 100, 125, 0.3);
  padding: 0 26px;
  outline: none;
  border-radius: 25px;
}

.form-control-label {
  border-radius: 25px;
  overflow: hidden;
}

.mailing-text-wrap {
  margin-bottom: 20px;
}

.mail-form-first-row {
  margin-bottom: 20px;
}

.checkbox-label {
  position: relative;
  padding-left: 30px;

  .custom-checkbox-circle {
    position: absolute;
    top: 2px;
    left: 0;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '';
      transition: 0.3s linear all;
      background: #E094A5;
      width: 11px;
      height: 11px;
      opacity: 0;
      border-radius: 50%;
    }
  }

  .checkbox {
    position: absolute;
    left: -9999px;

    &:checked ~ .custom-checkbox-circle:after {
      opacity: 1;
    }
  }
}

.mail-sending-container {
  max-height: 100%;
}

.footer {
  padding-bottom: 50px;
  background: #343434;
}

.footer-logotype-quote {
  max-width: 325px;
  padding-left: 38px;
  color: #E094A5;
  font-family: Trajan, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border-left: 2px solid #E094A5;
}

.footer-logotype-wrapper {
  display: flex;

  img {
    margin-right: 34px;
  }
}

.footer-lower-container {
  color: #fff;
  font-size: 14px;
}

.footer-menu-wrap ul li {
  margin-bottom: 10px;
}

.footer-menu-wrap ul li a {
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s linear all;
  position: relative;
  left: 0;

  &:hover {
    left: 5px;
    color: $main-color;
  }
}

.meeting-swiper .swiper-slide-prev {
  position: relative;
  right: 250px;
}

.meeting-swiper .swiper-slide-next {
  position: relative;
  left: 250px;
}

.footer-icon-links p {
  margin-bottom: 9px;
}

.footer-menu-wrap, .footer-icon-links {
  padding-top: 60px;
}

.footer-menu-wrap ul li:last-child {
  margin-bottom: 0;
}

.footer-icon-links a {
  margin-right: 15px;

  svg {
    transition: 0.3s linear all;
    fill: #fff;
  }

  &:hover {
    svg {
      fill: $main-color
    }
  }
}

.main-sending {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -120%);
  width: 100%;
}

.center-button .swiper-button-prev, .center-button .swiper-button-next {
  &:hover {
    svg {
      fill: $main-color;
    }
  }

  svg {
    transition: 0.3s linear all;
    fill: #222;
  }

}

.rating-block {
  position: relative;
  width: max-content;
}

.rating-block-unrated {
  width: 90px;
  height: 14px;
  background-image: url('../img/rating.svg');
}

.rating-block-rated {
  position: absolute;
  height: 14px;
  top: 0px;
  left: 0;
  background-image: url('../img/rated.svg');
}

.meeting-swiper .swiper-slide-active {
  transform: translate3d(0, 0, 0) !important;
}

.burger {
  display: none;
}

.burger {
  span {
    display: block;
    margin-bottom: 4px;
    height: 3px;
    border-radius: 20px;
    background-color: #222;
  }

  span:first-child {
    width: 14px;
  }

  span:nth-child(2) {
    width: 20px;
  }

  span:last-child {
    width: 10px;
    margin-bottom: 0;
  }
}

.header-burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100%;
  width: 300px;
  padding: 30px;
  transition: 0.3s linear all;
  transform: translateX(-100%);

  ul {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 30px;
    padding-top: 30px;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
    will-change: transform;
    -webkit-overflow-scrolling: touch;
    padding-right: 25px;
  }

  li {
    position: relative;
    padding-bottom: 30px;

    &:after {
      content: '';
      position: absolute;
      background-image: url(../img/topvector.svg);
      top: 0;
      background-repeat: no-repeat;
      width: 19px;
      height: 84px;
      left: 0;
      transform: translateX(30px) rotate(90deg);

    }

    a {
      text-transform: uppercase;
      transition: 0.3s linear all;

      &:hover {
        color: $main-color;
      }
    }
  }
}

.header-burger-menu.active {
  transform: translateX(0);
}

.testimonials-prev, .testimonials-next {
  fill: $main-color
}

.testimonials .pagination {
  display: none;
}

.main-banner-tracery-mobile {
  display: none;
}

.video-courses-card-img-wrap {
  position: relative;

  img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.3s linear all;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(215, 56, 109, 0) 0%, rgba(215, 56, 109, 0.5) 100%),
  }
}

.video-courses-card:hover .video-courses-card-img-wrap:after {
  opacity: 1;
}

.video-courses-card-img-wrap img {
  display: block;
}

.meeting-slide-title-outer {
  display: none;
}

.overflow-js {
  overflow: hidden;
}

.breadcrumb li {
  list-style-type: none;
}

.breadcrumb {
  padding-top: 80px;
  padding-left: 0;
}

.breadcrumb-item {
  padding-right: 38px;
  position: relative;
  color: #AEAEAE;

  a {
    color: #AEAEAE;
  }

}

.breadcrumb-item:after {
  content: '';
  width: 18px;
  height: 1px;
  background-color: #AEAEAE;
  position: absolute;
  right: 10px;
  top: 50%;
}

.breadcrumb-item.active {
  padding-right: 0;
}

.breadcrumb-item.active:after {
  display: none;
}

h2.inner-title {
  margin-top: 0;
}

.breadcrumb {
  margin-bottom: 15px;
}

.card-features {
  z-index: 1;
}

.video-courses-tab-item {
  margin-right: 60px;
  color: #777777;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s linear all;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    border-bottom: 1px solid #C72849;;
  }

  &:hover {
    border-bottom: 1px solid #C72849;;
  }
}

.video-courses-tab-wrapper {
  margin-bottom: 33px;
}

.video-card-category {
  display: block;
  margin-bottom: 6px;
  text-align: center;
}

.vcourses-title {
  position: relative;
  text-align: center;
  margin-bottom: 12px;

  &:after {
    position: absolute;
    content: '';
    top: 110%;
    height: 1px;
    width: 37px;
    background: $main-color;
    left: 50%;
    transform: translateX(-50%);
  }
}

.price-row {
  justify-content: center;
  margin-bottom: 15px;

  .price {
    color: #C72849;
    font-size: 22px;
    margin-right: 18px;
  }

  .old-price {
    font-size: 16px;
    color: #555555;
    text-decoration: line-through;
  }
}

.vcourses-row .col-lg-3 {
  margin-bottom: 30px;
}

.pagination-bullet {
  width: 57px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #777777;
  border-radius: 30px;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }

  svg {
    fill: #777777;
  }

  &:hover a {
    color: $main-color;
  }

  &:hover svg {
    fill: $main-color;
  }
}

.pagination {
  margin-top: 20px;
}

.pagination-bullet.active {
  a {
    color: #222222;
  }

  background-color: #fff;
}

.pagination-bullet-next svg {
  fill: #777;
}

.tabs-content-wrapper {
  & > *.active {
    display: flex;
    animation: fadeIn 0.3s linear;
  }

  & > * {
    display: none;
  }
}

.testimonials-card-wrapper {
  margin: 0 auto 50px;
  max-width: 900px;
}

.testimonials {
  position: relative;
}

.left-image-1 {
  position: absolute;

}

.position-absolute {
  position: absolute;
}

.left-image-1 {
  top: 20%;
}

.left-image-2 {
  top: 80%;
}

.right-image-1 {
  top: -10%;
  right: 0;
  left: auto;
}

.right-image-2 {
  top: 45%;
  right: 0;
  left: auto;
}

.product-image-wrap {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.facebook-icon {
  fill: #4267B2;
}

.twitter_icon {
  fill: #03A9F4;
}

.pinterest_icon {
  fill: #D32F2F;
}

.product-share-item {
  margin-right: 10px;

  &:first-child {
    margin-left: 10px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover svg {
    fill: $main-color;
  }
}

.reviews-number a {
  color: #C72849;
  font-size: 14px;
  text-decoration: underline;
  transition: 0.3s linear all;

  &:hover {
    text-decoration: none;
  }
}

.product-inner-rating-block {
  margin-bottom: 11px;
}

.product-inner-text {
  margin-bottom: 60px;
}

.product-inner-first-row {
  margin-bottom: 15px;
}

.product-inner-title {
  font-size: 32px;
  margin: 0 0 15px 0;
}

.product-inner-video-wrap {
  a {
    position: relative;
  }

  .play-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }

  margin-bottom: 40px;
}

.product-inner-video-title {
  text-align: center;
  font-size: 18px;

}

.product-inner-video-wrapper {
  height: 100%;
}

.product-description-text-wrap {
  margin: 0 auto;
}

.section-inner {
  padding-top: 100px;

  &:before {
    top: 30px;
    transform: translateX(-50%) rotate(90deg);
  }
}

.inner-small-title {
  text-align: center;
  color: #222222;
  font-family: Trajan, sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 0;
}

.price-row .price-default {
  font-size: 22px;
  text-transform: uppercase;
  color: #222222;
}

.price-row {
  font-family: Trajan, sans-serif;
}

.product-inner-page-last-row-wrapper {
  .price-row {
    margin-bottom: 0;
  }

}

.product-share-mobile {
  display: none;
}

.product-share-desktop {
  display: block;
}

.product-swiper {
  .swiper-pagination {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }
}

.product-inner-tab-wrapper {
  margin-bottom: 20px;
}

.small-title {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

.blog-page-section .blog-row .col-lg-4 {
  margin-bottom: 30px;
}

.blog-navigation li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-bottom: 10px;
  border: 1px solid #DFDFDF;
  transition: 0.3s linear all;
  font-family: Trajan, sans-serif;
  text-decoration: none;

  &:hover {
    border-color: #E094A5;
  }

  &.active {
    border-color: #E094A5;
  }
}

.blog-navigation {
  margin-bottom: 40px;
}

.blog-video-course-small-card {
  position: relative;
  margin-bottom: 30px;

  .title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .card-features {
    position: absolute;
    left: 8px;
    top: 8px;
  }

  .default-button {
    text-align: center;
    padding: 10px 24px;
  }
}

.video-courses-small-card-img-wrap {
  width: 119px;
  min-width: 119px;
  height: 119px;
  margin-right: 11px;

  img {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

.blog-video-courses-wrapper {
  margin-bottom: 30px;
}

.small-blog-post-image-wrap {
  width: 119px;
  height: 69px;
  min-width: 119px;
  margin-right: 11px;

  img {
    width: 100%;
    height: 100%;
  }
}

.small-blog-post-text-wrap {
  h4 {
    font-size: 14px;
    margin: 0;
  }
}

.small-blog-post-wrapper {
  margin-bottom: 30px;

  &:hover {
    .title {
      color: $main-color;
    }
  }
}

.title {
  transition: 0.3s linear all;
}

.personal-photo {
  width: 94px;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: #E094A5;
  border-radius: 50%;

  svg {
    fill: #fff;
  }
}

.sidebar-details {
  padding: 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #F4F5F9;
  border: 1px solid #DFDFDF;
}

.personal-name {
  font-size: 20px;

}

.personal-links-wrapper ul li a {
  position: relative;
  line-height: 70px;
  display: block;
  padding-left: 40px;
  font-family: Trajan, sans-serif;
  width: 100%;
  background-color: #F4F5F9;
  border: 1px solid #DFDFDF;
  font-size: 16px;
  transition: 0.3s linear all;
  overflow: hidden;

  &:hover {
    &:before {
      transform: translateX(0);
    }
  }

  &:before {
    content: '';
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    transform: translateX(-100%);
    background-color: #E094A5;
    width: 5px;
    transition: 0.3s linear all;
  }

  &.active {
    background-color: #EFEDF3;

    &:before {
      transform: translateX(0);
    }
  }
}

.personal-details-wrapper-title {
  color: #E094A5;
  font-size: 22px;
  line-height: 1;
  padding-bottom: 20px;
  border-bottom: 2px solid #E094A5;
  margin: 20px 0 40px 0;
  font-weight: 400;
}

.personal-details-title {
  font-size: 18px;
  color: #222222;
  margin: 0 0 20px 0;
  font-weight: 400;
}

.colored {
  color: $main-color
}

.lk-form-control {
  display: block;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D8D9EA;
  height: 50px;
  margin-top: 5px;
  transition: 0.3s linear all;
  outline: none;
  padding: 0 15px;

  &:focus {
    border-color: $main-color
  }
}

.personal-details label {
  width: 100%;
  margin-right: 50px;
  margin-bottom: 30px;
}

button.default-button {
  -webkit-appearance: none;
  outline: none;
  border: none;
}

.default-link {
  color: $main-color;
  font-size: 15px;
  letter-spacing: 0.1em;
  border-bottom: 1px solid $main-color;
  text-transform: uppercase;
  transition: 0.3s linear all;

  &:hover {
    border-bottom: none;
  }
}

.lk-buttons-row {
  .default-button {
    margin-right: 50px;
  }

}

.select-row {
  margin-top: 5px;
}

.lk-select {
  .selectric {
    width: 96px;
    height: 50px;
    background-color: #fff;
    margin-right: 15px;
    display: flex;
    align-items: center;

    .button {
      display: none;
    }

    .label {
      font-size: 14px;
      color: #777777;
      margin: 0 0px 0 10px;
    }
  }
}

.lk-select .selectric-items li {
  font-size: 14px;
}

.personal-history-table-col {
  width: 22%;
}

.personal-history-table-head .personal-history-table-col {
  font-size: 14px;
  color: #AEAEAE;
  text-align: center;
  padding-bottom: 15px;
}

.personal-history-table-head {

}

.personal-history-table-action {
  .minus_icon {
    display: none;
  }

  &.active {
    background-color: #fff;

    svg {
      display: none;
    }

    .minus_icon {
      display: block;
    }
  }
}

.minus_icon {
  fill: $main-color
}

.plus_icon {
  fill: #fff;
}

.personal-history-table-body {


  .personal-history-table-row {
    align-items: center;
    padding: 20px 0;
    border: 1px solid #DFDFDF;
  }

  .personal-history-card {
    border-bottom: 1px solid #DFDFDF;
  }

  .personal-history-table-col {
    font-size: 16px;
    font-family: Trajan, sans-serif;
    text-align: center;
    border-right: 1px solid #DFDFDF;
    height: 30px;
    line-height: 30px;

  }
}

.personal-history-table-action {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  margin: 0 auto;
  transition: 0.3s linear all;
  cursor: pointer;
  border: 1px solid $main-color;

  &.active:hover {
    background-color: $main-color;

    .minus_icon {
      fill: #fff;
    }
  }

  &:hover {
    background-color: #fff;

    .plus_icon {
      fill: $main-color
    }
  }

}

.personal-history-table-action-col {
  width: 12%;
}

.personal-history-card-img-wrap {
  min-width: 172px;
  height: 167px;
  width: 172px;
  margin-right: 40px;

  img {
    min-width: 100%;
    height: 100%;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
  }
}

.personal-history-card {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .default-button {
    display: flex;
    align-items: center;

    svg {
      margin-right: 15px;
      fill: #fff;
      transition: 0.3s linear all;
    }

    &:hover {
      svg {
        fill: $main-color
      }
    }
  }
}

.personal-history-card-text-wrap {
  display: flex;
  flex-direction: column;
}

.personal-history-card-category {
  font-size: 14px;
  color: #555555;
  margin-bottom: 6px;
}

.personal-history-card-text-title {
  font-size: 18px;
  color: #222222;
}

.personal-history-card-pricebox-muted {
  font-size: 14px;
  text-align: center;
  color: #AEAEAE;
  margin-bottom: 8px;
}

.personal-history-card-pricebox-price {
  font-size: 22px;
  color: #222222;
}

.personal-history-card-general {
  align-items: center;
}

.personal-history-open {
  overflow: hidden;
  max-height: 0;
  transition: 0.3s linear all;

  &.active {
    max-height: none;
  }
}

.overall-price {
  margin-left: auto;
}

.personal-history-table-wrapper {
  margin-bottom: 15px;
  background: #F4F5F9;

  &.active {
    border: 1px solid #DFDFDF;
  }
}

.overall-price {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .d-flex {
    justify-content: flex-end;
    align-items: center;
  }

  .title {
    font-size: 22px;
    margin-left: 10px;
    padding-right: 30px;
  }
}

.product-image-wrap img {
  -o-object-fit: contain;
  object-fit: contain;
}

.blog-inner-text img {
  margin-bottom: 30px;
  max-width: 100%;
}

.blog-inner-text p {
  margin-bottom: 30px;
}

.blog-inner-text h2, .blog-inner-text h3, .blog-inner-text h4, .blog-inner-text h5, .blog-inner-text h6 {
  font-size: 34px;
  font-family: Trajan, sans-serif;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 30px;
}

.blog-main-title {
  font-size: 34px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.date {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

.blog-inner-text {
  padding-bottom: 30px;
  border-bottom: 1px solid #D6D6D6;
  margin-bottom: 30px;
}

.text-left {
  text-align: left !important;
}

.more-blog-posts {
  margin-bottom: 60px;
}

.more-blog-posts h2 {
  margin-bottom: 30px;
}

.blog-post-comments-first-row {
  margin-bottom: 30px;
}

.comment-left-side {
  min-width: 150px;
  width: 150px;
  max-width: 150px;
  padding-right: 20px;
}

.comment {
  padding: 30px 0;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}

.meeting-one-wrapper {
  img {
    border-radius: 40px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  p {
    max-width: 990px;
    margin: 0 auto 30px;
  }
}

.order-row {
  border-top: 1px solid #DFDFDF;
  padding-top: 30px;
}

.order-details-number {
  width: 61px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Trajan, sans-serif;
  margin-right: 20px;
  font-size: 26px;
  color: #F3F6FA;
  background-color: $main-color;
  border-radius: 50%;
}

.create-account-detail {
  font-size: 14px;
}

.create-account-title {
  margin-top: 10px;
}

.create-account-detail {
  margin-bottom: 20px;
}

.form-part {
  margin-bottom: 50px;
}

.order-details-personal-title {
  margin-bottom: 30px;
}

.payment-label {
  margin-bottom: 30px;
  text-align: center;

  input {
    position: absolute;
    left: -9999px;

    &:checked ~ .payment-type-wrapper .circle {
      background-color: #C72849;

      svg {
        opacity: 1;
      }
    }
  }

  .payment-type-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .circle {
      position: absolute;
      right: 10px;
      top: 10px;
      border: 1px solid #D8D9EA;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s linear all;

      svg {
        opacity: 0;
        transition: 0.3s linear all;
      }
    }
  }
}

.order-def-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.order-row .cart-section-block .grid {
  display: flex;
  width: 100%;
}

.checkbox-order-label {
  display: flex;
  align-items: center;

  input {
    position: absolute;
    left: -9999px;

    &:checked ~ .square {
      background-color: $main-color;

      svg {
        opacity: 1;
      }
    }
  }

  .square {
    transition: 0.3s linear all;
    border-radius: 3px;
    border: 1px solid $main-color;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    min-width: 21px;

    svg {
      transition: 0.3s linear all;
      opacity: 0;
    }
  }
}

.payment-type-radio-wrapper {
  margin-bottom: 10px;
}

.payment-type-wrapper {
  .img-wrap {
    margin-bottom: 10px;
  }
}

.banner-wrapper {
  max-height: 700px;
  height: 700px;
  max-width: 1750px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;

  .meeting-big-banner {
    z-index: -1;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .big-banner-text-wrapper {
    padding-left: 160px;
  }
}

.banner-beginning {
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 10px;
}

.banner-name {
  color: $main-color;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.banner-title {
  font-size: 50px;
  color: #FFFFFF;
}

.banner-subtitle {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 20px;
}

.meeting-one-text-wrapper {
  max-width: 990px;
  margin: 0 auto;
}

.meeting-one-text-wrapper {
  p {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 34px;
    color: #222222;
    font-family: Trajan, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
  }

}

.meeting-one-big-text {
  margin-bottom: 20px;
}

.meeting-one-big-inner-banner-wrapper {
  background-color: #EEECF4;
  background-image: url('../img/mib.png');
  max-height: 400px;
  -webkit-background-size: cover;
  background-size: cover;
  align-items: center;
  position: relative;
}

.left-sided-background {
  position: absolute;
  left: 48px;
  top: 0;
}

.text-center {
  text-align: center;
}

.meeting-one-big-inner-banner-text-wrapper {
  .small-title {
    font-size: 28px;
    margin-bottom: 3px;
    font-family: Trajan, sans-serif;
    font-weight: normal;
  }

  .sub-title {
    padding-bottom: 18px;
    margin-bottom: 18px;
    position: relative;
    text-align: left;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      border: 1px solid #C72849;
      width: 90px;
      height: 1px;
      left: 0;
    }
  }
}

.meeting-one-big-inner-banner-wrapper p {
  padding-right: 30px;
  margin-bottom: 0;
}

.custom-ul {
  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    svg {
      margin-right: 40px;
    }
  }
}

.course-program-wrap {
  padding-bottom: 40px;
  border-bottom: 1px solid #DFDFDF;
}

.step-title {
  font-size: 24px;
  font-family: Trajan, sans-serif;
  color: #C72849;
}

.default-ul-wrap {
  ul {
    li {
      padding-left: 35px;
      font-size: 18px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 9px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #C72849;
      }
    }
  }
}

.step-dates {
  display: block;
}

.couse-program-step {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #DFDFDF;

  &:last-child {
    border-bottom: none;
  }
}

.reason-title {
  font-size: 22px;
  margin-bottom: 10px;

}

.reason-card {
  padding-left: 80px;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    border: 1px solid #000000;
    width: 60px;
  }

  p {
    color: #777777;
  }
}

.seminar-images-row {
  margin-top: 10px;
}

.seminar-images-row {
  margin-bottom: 50px;
}

.btn-center-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inst-btn {
  img {
    margin-right: 15px;
  }
}

.position-relative {
  position: relative;
}

.right-sem-image {
  right: 0;
  top: 0;
}

h2.title-bottom {
  margin-bottom: 40px;
}

.seminar-image-wrap img {
  max-width: 100%;
  object-fit: cover;
}

.seminar-image-wrap {
  margin-bottom: 20px;
}

.header-search-wrap {
  cursor: pointer;
}

#autorization-pop-up .checkbox-field {
  margin-top: 10px;
}

#feedback-pop-up .rating-block {
  width: 100%;
}

.star-rating {
  width: 0;
  position: relative;
  display: inline-block;
  background-image: url(../img/star_0.svg);
  background-position: 0 0;
  background-repeat: repeat-x;
  cursor: pointer;
}

.star-rating .star-value {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../img/star_1.svg');
  background-repeat: repeat-x;
}

.star-rating.disabled {
  cursor: default;
}

.star-rating.is-busy {
  cursor: wait;
}

.star-rating .star-value.rtl {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  right: 0;
  left: auto;
}

.order-row .cart-section-block {
  border: none;
}

label {
  display: block;
}

.form-part label {
  margin-bottom: 15px;
}

.meeting-slide-card{
  svg{
    transition: 0.3s linear all;
  }
  &:hover{
    svg{
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}
.header-secondary{
  background: #F4F5F9;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  .header-inst-wrap{
    background: #F4F5F9;
    box-shadow: 0px 20px 59px -62px black;
  }
}
.mail-form .default-button{
  cursor: pointer;
}
.checkbox-label{
  cursor: pointer;
}
.product-testimonials-first-row{
  margin-bottom: 30px;
}
.product-comments{
  margin-top: 30px;
}
.product-comments h2.inner-title{
  font-size: 28px;
}
.video-courses-middle-card-img-wrap{
  max-width: 210px;
  max-height: 210px;
  width: 210px;
  height: 210px;
  min-width: 210px;
  min-height: 210px;
  margin-right: 30px;
  img{
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
  }
}
.blog-video-course-middle-card .price-row{
  justify-content: flex-start;
}
.blog-video-course-middle-card{
  padding: 20px;
  border: 1px solid #E1E1E1;
}
.blog-video-course-middle-card-text-wrapper{
  .title{
    margin-top: 0;
    margin-bottom: 10px;
  }
  .video-card-category{
    text-align: left;
  }
  .default-button{
    padding: 15px 50px;
  }
}
.blog-video-course-middle-card{
  margin-bottom: 20px;
}
.tabs-content-wrapper > *.active.block{
  display: block;
}
.product-inner-rating-block{
  .rating-block{
    margin-top: -3px;
  }
}
.product-inner-video-wrap{
  .play-button{
    img{
      transition: 0.3s linear all;
    }
  }
  &:hover{
    .play-button{
      img{
        transform: scale(1.2);
      }
    }
  }
}
